/* Estilos para el componente Personal */

/* Barra lateral a la izquierda */
aside {
    width: 200px;
    background: #f2f2f2;
    padding: 16px;
  }
  
  /* Ãrea central en blanco */
  main {
    display: flex;
    height: 100vh;
  }
  
  /* Contenido central */
  main > div {
    flex: 1;
    background: #fff;
    padding: 16px;
  }
  